name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build the Docker image
      run: |
        IMAGE_TAG=mohamedhellal/mohamedhellal/bash-dbms
        docker build . --file Dockerfile --tag $IMAGE_TAG

    - name: List Docker images
      run: docker images

    - name: Push the Docker image
      run: |
        IMAGE_TAG=mohamedhellal/mohamedhellal/bash-dbms
        docker push $IMAGE_TAG
